@import url('https://fonts.googleapis.com/css?family=PT+Sans');


body{
    background-image: url('../images/stati-bg.jpg');
    background-position-x: 0vh;
}

.row-item{
    border-radius: 1vh !important;
    padding: 1.5vh 1vw;
}

.row-card{
    width: 75%;
    background: #fff !important;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 12%;
}

.short-link{
    color: #0000ee;
}
a:hover{
    color: #3B5998 !important;
    text-decoration: underline !important;
}

.url-sec{
    display: block;
    color: rgb(0,0,0,0.75);
}
.date-sec{
    display: block;
    color: rgb(0,0,0,0.75);
}
.hash-sec{
    display: block;
    color: rgb(0,0,0,0.75);
}
.title-sec{
    color: rgb(0,0,0);
    font-size: 2.4vh;
    display: block;
}
.avatar-sec{
    display: block;
    width: 7% !important;
}

.detail-view{
    background: rgb(255,255,255);
    display: none;
}
.desc-sec{
    color: rgb(0, 0, 0, 0.6);
    padding: 0 6vw 0 1vw;
    text-align: justify;
}

.detail-card{

}

.date-sec-detail-view{
    display: none;
    color: rgb(0, 0, 0, 0.75);
    padding: 0 0 0 1vw !important;
}

.myChart{
    width: 100%;
    height: 50vh !important;
} 

.no_of_click{
    padding:0 0 0 1vw;
    color: rgb(0, 0, 0, 0.75);
}

.empty-message-sec{
    padding: 4vh 3vw;
}
.empty-message-title{
    text-align: center;
    font-size: 3vh;
    color: rgb(120, 0, 0);
}
.empty-message-subtitle{
    text-align: center;
    font-size: 2.5vh;
    color:rgb(120, 0, 0, 0.6);
}
.empty-message-content{
    text-align: center;
    font-size: 2.4vh;
    color:rgb(0, 0, 0, 0.6);
}

@media screen and (max-width: 600px) {

    .row-item{
        padding: 0.5vh 1vw;
    }
    .row-card{
        width: 100%;
        margin-top: 1vh;
        margin-left: 0.5vw;
    }
    .title-sec{
        font-size: 2.3vh;
        /* text-align: justify; */
    }
    .hash-sec{
        display: none;
    }
    .date-sec{
        /* text-align: left !important; */
        display: none !important;
    }
    .avatar-sec{
        width: 15% !important;
        display: inline-block !important;
    }

    .date-sec-detail-view{
        display: inline;
        margin: 0 0 0 6vw !important;
    }
    .desc-sec{
        margin: 0 0 0 6vw !important;
        padding: 0 5vw 0 0;
        
    }
    .w3-half{
        padding: 0 0 !important;
    }

    .myChart{
        width: 100%;
        padding: 0 0vw;
        height: 40vh !important;
    }
    .no_of_click{
        padding:0 0 0 6vw;
        color: rgb(0, 0, 0, 0.75);
    }
    .empty-message-sec{
        padding: 4vh 5vw;
    }
}
