
<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Ooops That was an error</title>
	    <meta name="keywords" content="You have no idea that you are going to request for an error page"/>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

        <link href="//fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Rozha+One" rel="stylesheet">

        <link href="/static/css/404.css" rel='stylesheet' type='text/css' />
        <link href="/static/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    
    </head>
    <body>
            <h1>Appealing Error Page</h1>
            <!-- Main Content -->
            <div class="main-agileits">
                <h2>Error <span>404</span> page<br> not found</h2>
                <p class="para-wthree">
                    You have no idea that you were being requested for an error page    
                </p>
                    <!-- Home  Button -->
                    <div class="button">
                        <a href="/" class="play-icon popup-with-zoom-anim">Back to home</a>
                    </div>
                    <!--//Home Button -->
                   
                <div class="clear"></div>
            </div>
            <!--// Main Content -->


            <!-- Copy Right -->
            <footer>
                <p class="copyright-agileinfo"> &copy; 2018 All Rights Reserved</p>
            </footer>


        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
        
        
        <script type="application/x-javascript">
            addEventListener("load", function () {
                setTimeout(hideURLbar, 0);
            }, false);
    
            function hideURLbar() {
                window.scrollTo(0, 1);
            }
        </script>
    
    </body>
</html>
