<!DOCTYPE html>
<html lang="zxx">
<head>
<title>Shortify</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Astonish Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- font files -->
<link href="//fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Niconne" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"><
!-- /font files -->
<!-- css files -->
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />

<!-- /css files -->
<body>
	<div class="w3l-banner-layer">
	<div class="container  text-center">
			<div class="agileinfo-logo">
					<h1><a href=""><span class="fa fa-diamond" aria-hidden="true"></span>astonish</a></h1>
			</div>	
			<h2 class="txt-w3_agile">Just Cut it out </h2>
			
			<div class="sub-form-wthree">
				<form action="#" method="post">
					<input type="url" name="url" size="30" required="" placeholder="Place the URL here">
					<button class="btn1"><span class="fa fa-cut" aria-hidden="true"></span></button>
				</form>
			</div>		
			<div class="agile_social_banner">
				<ul class="social_list">
					<li><a href="#" class="social_facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a></li>
					<li><a href="#" class="social_twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
					<li><a href="#" class="social_dribble"><span class="fa fa-dribbble" aria-hidden="true"></span></a></li>
					<li><a href="#" class="social_vimeo"><span class="fa fa-vimeo" aria-hidden="true"></span></a></li>
				</ul>
			</div> 

					<h2 id="descr">Efficiently manage links, set custom domains and view statistics</h2>

				
	</div>
	<div class="footer">
		<p> &copy; 2018 All Rights Reserved</p>
	</div>
	</div>
</body>
</html>