{% extends "base.html" %}

{% block meta-headers %}
    <meta name="keywords" content="Core Login Form a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
{% endblock %}

{% block css-headers %}
    <link rel="stylesheet" href="/static/css/login.css" type="text/css" media="all">
    <link href="//fonts.googleapis.com/css?family=Mukta+Mahee:200,300,400,500,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/font-awesome-login.css" type="text/css" media="all">
{% endblock %}

{% block script-headers %}
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);
        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
{% endblock %}

{% block title-section %}
    <title>Login</title>
{% endblock %}


{% block body-section %}
    <h1 class="title-agile text-center">Log in Here</h1>
        <div class="content-w3ls">

            
            <div class="agileits-grid">
                
                <div class="content-bottom">
                        <p id="warning_txt" style="text-align:center"></p>


                        <a href="/auth/login/google-oauth2/">Sign in with Google</a>
                        <a href="{% url 'social:begin' 'facebook' %}">Sign in with Facebook</a>
                        <a href="{% url 'social:begin' 'github' %}">Sign in with GitHub</a>
                </div>
                <!-- //content bottom -->
            </div>
        </div>
        <!--//copyright-->

        <!-- script for show password -->
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <script>
            $(".toggle-password").click(function () {
                $(this).toggleClass("fa-eye fa-eye-slash");
                var input = $($(this).attr("toggle"));
                if (input.attr("type") == "password") {
                    input.attr("type", "text");
                } else {
                    input.attr("type", "password");
                }
            });
        </script>
        <script src="/static/js/login.js"></script>
        <!-- /script for show password -->

{% endblock %}