
{% extends 'base.html' %}
   
<title>Switch Login Form Flat Responsive Widget Template :: w3layouts</title>
<!-- Meta-Tags -->
{% block meta-headers %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Switch Login Form a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">

{% endblock %}

{% block script-headers %}


<script>
    addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
</script>

{% endblock %}
<!-- //Meta-Tags -->
<!-- Index-Page-CSS -->
{% block css-headers %}

<link rel="stylesheet" href="/static/css/password_reset_form.css" type="text/css" media="all">
<!-- //Custom-Stylesheet-Links -->
<!--fonts -->
<link href="//fonts.googleapis.com/css?family=Mukta+Mahee:200,300,400,500,600,700,800" rel="stylesheet">
<!-- //fonts -->
<!-- Font-Awesome-File-Links -->
<link rel="stylesheet" href="/static/css/font-awesome.css" type="text/css" media="all">

{% endblock %}




{% block body-section %}

<h1 class="title-agile text-center">Reset your password</h1>
    <div class="content-w3ls2">
        <div class="content-top-agile">
            <h1 style="color:#fff;font-size:30px;letter-spacing:1px;">Password reset complete</p>
        </div>
        <div class="content-bottom">
            
                    
                <div class="field-group">
                    <p style="text-align:center;font-size:20px">Your password has been set. You may go ahead and log in now.</p>
                </div><br>
                
                <div class="wthree-field">
                        <input type="button" value="Login" onclick="window.location.href='/login'"/>
                </div>
            
        </div>
    </div>

        <script src="https://code.jquery.com/jquery.min.js"></script>
        <script src="/static/js/login.js"></script>
{% endblock %}