
<!DOCTYPE html>
<html lang="en">
<head>
<title>Business Subscription Form a Flat Responsive Widget Template :: w3layouts</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Business Subscription Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->
<!-- css files -->
<link rel="stylesheet" href="/static/css/signin.css" type="text/css" media="all" /> <!-- Style-CSS --> 
<link rel="stylesheet" href="/static/css/font-awesome-signin.css"> <!-- Font-Awesome-Icons-CSS -->

<!-- Latest compiled and minified CSS & JS -->
<link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<!-- web-fonts -->
<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
<!-- //web-fonts -->
</head>
<body style="width:100vw; overflow-x:hidden">
  <div class="center-container">
    
    
    
    <!--header-->
		<div class="header-w3l">
			<h1><span>C</span>reate <span>A</span>n <span>A</span>ccount </h1>
		</div>
    <!--//header-->
    




    <!--main-->
        <!-- left block -->
            <div class="left-block">
              <div>
                <font>" It is easier to remember </font><br>
                <font class="signin-qt"> when it is shorter " </font>
              </div>
            </div>
        <!-- //left block -->



        <!-- right block -->
            <div class="main-content-agile">
              <div class="wthree-pro">
                
              </div>
              <div class="sub-main-w3">	
                
                <div class="alert alert-warning" style="visibility:hidden" id="warning_block">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <p id="warning_txt"></p>
                </div>
                
                <form action="" method="post" id="signup_form">
                  {% csrf_token %}
                  <input placeholder="First Name" name="mail" type="text" required="">
                  
                  <input placeholder="Last Name" name="mail" type="text" required="">
                  
                  <input placeholder="E-mail" name="mail" type="email" required="" id="email">
                  
                  <input  placeholder="Phone Number" name="Phone" type="tel" required="" id="phone">
                  
                  <input  placeholder="Choose a username" name="username" type="text" required="" id="username">
                  

                  <input  placeholder="Choose a password" name="password" type="password" required="">
                  
                  <input  placeholder="Repeat Password" name="confirm_password" type="password" required="">
                  
                  
                  
                  <input type="submit" value="Create Now">
                </form>
              </div>
          <!-- //right block -->
        </div>
    <!--//main-->
    

		<!--footer-->
		<div class="footer">
			<p>&copy; 2018 All rights reserved</p>
		</div>
    <!--//footer-->
    

  </div>
  
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <script src="/static/js/signup.js"></script>



</body>
</html>